.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #F8F8F8;
}

.infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.iconBox {
  margin-bottom: 30px;
}
