a {
  margin-top: 10px;
  color: darkolivegreen;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.iconBox {
  margin-bottom: 30px;
}

.line {
  border-top: 2px solid grey;
  display: none;
  width: 500px;
}

.lineBottom {
  border-top: 2px solid grey;
  width: 500px;
}

@media (max-width: 1439px) {;
  .info {
    display: flex;
    flex-direction: column;
  }
  .line {
    display: flex;
  }
}

@media (max-width: 590px) {;
  .line {
    display: flex;
    width: 290px;
  }
}
