.templatesName{
  border: 2px solid #F8F8F8;
}
.titleStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.servicesStyle {
  display: flex;
  flex-direction: row;
}

.priceBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.generalBox {
  margin-left: 270px;
}

.servicesHaircutStyle1 {
  margin-right: 500px;
}

.servicesHaircutStyle2 {
  margin-right: 418px;
}

.servicesHaircutStyle3 {
  margin-right: 465px;
}

.servicesHaircutStyle4 {
  margin-right: 408px;
}

.servicesHaircutStyle5 {
  margin-right: 435px;
}

.servicesHaircutStyle6 {
  margin-right: 455px;
  margin-bottom: 50px;
}

.timeStyle {
  margin-top: 30px;
  font-size: 10px;
  font-family: 'Arial', serif;
  font-weight: 600;
  color: #000000;
  letter-spacing: 2.5px;
}

//.line{
//  border-bottom: 1px solid #000000 ;
//  margin-top: 10px;
//}


