.templatesName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  margin: 50px 0 50px 0;

}
.time{
  font-size: 10px;
  font-family: 'Arial', serif;
  font-weight: 600;
  color: #000000;
  letter-spacing: 2.5px;
}
