.templatesName {
  background-image: url("../../assets/titlepage.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 1400px;
  height: 1000px;
}

.logo {
  width: 300px;
}

@media (max-width: 1439px){ ;
.templatesName{
width: 1200px;
}
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
